VNCAddr=127.0.0.1
VNCNumber=7
VNCPassword="Change Me!"
VNCGeometry=1366x768
VNCDepth=24

XSession=/usr/bin/icewm-session
# XSession=/usr/bin/xfce4-session
# XSession=/usr/bin/fluxbox
# XSession=/usr/bin/WindowsMaker
# XSession=/usr/bin/jwm
